Practice/soln/7.xml

<!-- A book publisher wants to transfer the below given data across the web in a secure way. Write [15] Implement the above scenario using PHP functions.

نانانا

AUSA

18

the XML code for sending 3 records following the format given below. Book title: Internet & World Wide Web: How to Program, " Author names: Harvey M. Deitel, Paul J. Deitel, Abbey Deitel Publisher: Pearson Education

ISBN: 978-0132151009

Publication Date: 9 Nov 2011

Language: English

Total Pages: 960

Price: 256.50 Rs

Also write the corresponding XML schema using the following restrictions.

a) Author names should be string

b) ISBN should be numeric and 13 digits long

c) Publication date should be in DD/MM/YYYY format

d) Language should be only English/Tamil/Hindi

e) Price should be decimal -->

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="book">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="author" type="xs:string"/>
                <xs:element name="publisher" type="xs:string"/>
                <xs:element name="isbn">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:pattern value="[0-9]{13}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="publication_date">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="language">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="English|Tamil|Hindi"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="total_pages" type="xs:integer"/>
                <xs:element name="price">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:pattern value="[0-9]+.[0-9]{2}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>